.seidebar-items {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    li{
        list-style: none;
        margin-top: 10px;
    }
    a{
        text-decoration: none;
        color: black;
    }
    mat-icon{
        width: 20px;
        height: 20px;
        margin-right: 5px;
        color: blueviolet;
    }
}
