/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$green-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: Roboto,
      density: -5,
    )
  );
}
body {
  margin: 0;
  padding: 0;
}

.mat-mdc-snack-bar-container.snackbar-success {
  --mat-snack-bar-button-color: #fff;
  --mdc-snackbar-container-color: green;
  --mdc-snackbar-supporting-text-color: #fff;
}
.mat-mdc-snack-bar-container.snackbar-danger {
  --mat-snack-bar-button-color: #fff;
  --mdc-snackbar-container-color: red;
  --mdc-snackbar-supporting-text-color: #fff;
}
.mat-mdc-snack-bar-container.snackbar-warning {
  --mat-snack-bar-button-color: #fff;
  --mdc-snackbar-container-color: #cf642a;
  --mdc-snackbar-supporting-text-color: #fff;
}
