@use '@angular/material' as mat;
@use '../theme-colors' as theme;

html {
  color-scheme: light;
  @include mat.theme((
    color: theme.$primary-palette,
    typography: Roboto,
    density: 0
  ));
}

.mat-mdc-snack-bar-container.snackbar-success {
  --mat-snack-bar-button-color: #fff;
  --mdc-snackbar-container-color: green;
  --mdc-snackbar-supporting-text-color: #fff;
}
.mat-mdc-snack-bar-container.snackbar-danger {
  --mat-snack-bar-button-color: #fff;
  --mdc-snackbar-container-color: red;
  --mdc-snackbar-supporting-text-color: #fff;
}
.mat-mdc-snack-bar-container.snackbar-warning {
  --mat-snack-bar-button-color: #fff;
  --mdc-snackbar-container-color: #cf642a;
  --mdc-snackbar-supporting-text-color: #fff;
}
